# Created by .ignore support plugin (hsz.mobi)
/.idea/
/src/main/resources/application.properties
!/.idea/workspace.xml
!/src/main/resources/application.properties
.metadata/**
target/**
*~*
*.class

target/classes/application.properties

src/main/resources/application.properties

target/classes/application.properties
