<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--&lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <style>
.buttonSize {
    width: 100px !important;
}
.userinfo {
  margin: 0 auto;
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
}

</style>
</head>

<h2>profile page</h2>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!--<script>-->
    <!--document.onload = alert('meta[name="_csrf"]');-->
<!--</script>-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Team Gigabyte</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/tests/" th:href="@{/tests/}">Home</a></li>
                <li class="active"><a href="/profile/" th:href="@{/profile/}">My Profile</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="main" id="mainDisplay">
<br/>
  <center>
  <h2>My Profile</h2>
  </center>
		<br/>
		<div class="text-center">
			<button type="button" id="highScore"  class="btn btn-primary buttonSize" onclick="displayHighScore();">High Score</button>
			<button type="button" id="Info" class="btn btn-danger buttonSize"  onclick="displayInfo();">Information</button>
			<button type="button" id="Setting"  class="btn btn-warning buttonSize"  onclick="displaySetting();">Setting</button>
			
		<br/><br/>
		<span id="displaySpan"></span>
		</div>
		<script th:inline="javascript">
			var highScore = "10";
		function displayHighScore()
			{
				document.getElementById('displaySpan').innerHTML='High Score : '+ highScore;
			}

			var info = "name";
	    function displayInfo()
			{
				document.getElementById('displaySpan').innerHTML='Name : '+ info;
			}
			var setting = "this is setting";
	    function displaySetting()
			{
				document.getElementById('displaySpan').innerHTML='Setting : '+ setting;
			}


		</script>


</div>





</html>
