<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.buttonSize {
    width: 100px !important;
}
.userinfo {
  margin: 0 auto;
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
}

</style>
</head>

<body>

<div class="container">
  <center>
  <h2>My Profile</h2>
  </center>
  <br>
  <div class="text-center">
  <button type="button" id = "Info" class="btn btn-primary buttonSize" th:href = #info data-toggle = "tab">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Info
  </button>
  <button type="button" id = "Highscore" class="btn btn-danger buttonSize" th:href = #highscore data-toggle = "tab">
    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Highscore
  </button>
  <button type="button" id = "Setting" class="btn btn-warning buttonSize" th:href = #setting data-toggle = "tab">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Setting
  </button>
</div>
</div>


<div class="tab-content">
  <div class="tab-pane fade in " id="info">
    <div class ="userinfo">
      <h3> Name: Serena Yang</h3>
      <h3> Grade: 2nd Grade</h3>
    </div>
  </div>
  <div class="tab-pane fade in" id="highscore">
    <div class="container">
      <center>
      <h2>Top 3</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>General</th>
            <th>Addition</th>
            <th>Subtraction</th>
            <th>Digit Placement</th>
          </tr>
        </thead>
      <tbody>
        <tr class="danger">
          <td>10</td>
          <td>10</td>
          <td>9</td>
          <td>9</td>
        </tr>
        <tr class="info">
          <td>11</td>
          <td>9</td>
          <td>8</td>
          <td>11</td>
        </tr>
        <tr class="warning">
          <td>8</td>
          <td>7</td>
          <td>8</td>
          <td>8</td>
        </tr>
      </tbody>
    </table>
  </center>
  </div>
</div>
<div class="tab-pane fade in" id="setting">
  <h3>this is setting</h3>
</div>
</div>



<script>
$(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    $(this).removeClass("btn-default").addClass("btn-primary");
});
});
</script>

</body>




<br>
<br>
</html>
