<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" href="../static/css/questions.css" th:ref="@{css/questions.css}">
    <style>
        #leftnav{
         background: #2aabd2;
        }
    </style>
</head>

<h2>Questions</h2>
<div id="leftnav">
<table class="table table-striped">
    <tbody>
    <tr th:each="question : ${questionList}">
        <td><a href="#" th:text="${question.toString()}"></a></td>
    </tr>
    </tbody>
</table>
</div>
</html>