<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<body>
<form id="loginForm" th:action="@{/registration}" th:object="${userForm}" method="post">
    <div>
        <label for="username" th:text="username"/> <input type="text" id="username" th:field="*{username}" name="username"/>
    </div>
    <div>
        <label for="password" th:text="password"/> <input type="password" th:field="*{password}" id="password" name="password" />
    </div>
    <div>
        <button type="submit" th:text="register">
        </button>
    </div>
</form>

</body>
</html>